<%= render partial: "/shared/error_messages", locals: { resource: @new_book } %>
<div class='col-xs-3'>
  <%= render partial: 'users/info', locals: { user: user } %>
  <%= render partial: 'books/new', locals: { new_book: @new_book, current_user_id: current_user_id } %>
</div>